/* GENERAL */

.button{
  background-color: rgb(63, 91, 151);
}

h3{
  font-size: 14pt;
  font-weight: bold;
}

*:active, *:focus{
  border: none;
  outline: none;
}

/* HEADER */
header {
  padding: 20px;
  display: flex;
  align-items: center;
}

h1{
  font-family: 'Sansita', sans-serif;
  color: rgb(63, 91, 151);  
  cursor: pointer;
  }
header button{
margin-bottom: 0px !important;
}


/* MAIN */

/* Common to all panes */

.mainBox{
  border: solid 2px rgb(63, 91, 151);
  padding: 30px;
  border-radius: 5px;
}

.error{
  color: red;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

label .label-text {
  color: black;
  cursor: text;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.dates{
  display: inline-block;
  width: 49.3%;
}

#weatherView, #flightsList, #activitiesList{
  overflow: auto;
  white-space: nowrap;
  margin: auto;
  border-top: solid 1px rgb(128, 129, 131);
  border-bottom: solid 1px rgb(128, 129, 131);
  padding: 5px;
  width: 100%;
}

#warn{
  font-size: 8pt;
}

/* Weather */
.weatherBox{
  color: white;
  width: 200px;
  height: 150px;
  margin: 5px;
  padding: 20px;
  display: inline-block;
  text-align: center;
  background-color: rgb(65, 119, 199);
  border-radius: 15px;
  font-size: 12pt;
}

/* Flight and Activity */

.flightBox{
  color: white;
  width: 350px;
  height: 280px;
  margin: 5px;
  padding: 20px;
  display: inline-block;
  text-align: center;
  background-color: rgb(110, 124, 139);
  border-radius: 15px;
  font-size: 12pt;
}

.activityBox{
  background-color: white;
  width: 600px;
  height: 320px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  white-space: normal;
  border: solid 2px rgb(110, 124, 139);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

.activityBox img, .activityBox div{
  float: left;
  width: 50%;
  height: 220px;
  font-size: 12pt;    
  overflow: scroll;
  border-bottom: solid 1px gray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.activityBox h3{
  white-space: nowrap;
  overflow: scroll;
  border-bottom: solid 1px gray;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.chosenFlight, .chosenActivityFormat{
  border: solid 5px rgb(204, 185, 80) !important;
}

/* Summary */

#costChart::after, #itineraryChart::after{
  display: block;
  }



  /* MODAL */

/* Background */

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.flex{
  display: flex !important;
  justify-content : space-around;
  align-items: center
}

/* Loading */

#modal img{
  width: 10%;
  margin: auto;
}

/* Saved trips */

.modalButton{
  margin: 5px;
  width: 100px;
}

#savedTrips{
  width: 100%;
  text-align: center;
  height: 80%;
}

#savedTrips p{
  height: 50px;
}

#listOfTrips{
  height: 70%;
  overflow: scroll;
  margin: 20px 0px;
  padding-top: 20px;
  border: solid 1px gray;
  font-weight: bold;
}

.savedTrip{
  cursor: pointer;
}




/* MEDIA QUERIES */


@media only screen and (max-width: 424px) {
  .dates{
    display: block !important;
    width: 100%;
  }
}